body {
      font-family: "Cormorant Garamond", serif;
      margin: 0;
}

/*header start here*/
header{
      background-color: #f6f1e7;
      padding: 1rem 10px;
}
header span {
      color: #9ea88f;
      font-size: 1.6rem;
      font-weight: 700;

}
/*navagation stuff here*/
nav {
    background-color: #9ea88f;
}
nav ul {
    margin: 0;
    padding: 0 10px;
    list-style-type: none;
    display: flex;
}
nav a {
    display:block;
    padding: .83rem 1rem;
    text-decoration: none;
    font: 1.1rem;
    color: #3b3027;
    font-weight: 700;
}

nav li.active a {
    background-color: #3b3027;
    color: #9ea88f;
}
nav li a:hover {
    color: white;
}