body {
    font-family: var(--pagefont), serif;
    margin: 0;
    }

/*header start here*/
header {
    background-color: #f6f1e7;
    padding: 1rem 10px;
}

header span {
    color: #9ea88f;
    font-size: 3rem;
    font-weight: 700;

}

/*navagation stuff here*/
nav {
    background-color: #9ea88f;
}

nav ul {
    margin: 0;
    padding: 0 10px;
    list-style-type: none;
    display: flex;
    height: 48px;
}

nav a {
    display: block;
    padding: .83rem 1rem;
    text-decoration: none;
    font-size: 1rem;
    color: #3b3027;
    font-weight: 700;
}

nav li.active a {
    background-color: #3b3027;
    color: #9ea88f;
}

nav li a:hover {
    color: white;
}

main {
    padding: 1rem 10px;
}

main h1 {
    color: #3b3027;
}

main h2 {
    color: #9ea88f;
    margin-bottom: .2rem;
}

main p {
    margin: 0;
    color: #333;
    font-size: 18px;
}

main ol {
    padding: .5rem 30px;
    background-color: #efefef;
}

main dl dt {
    color: #3b3027;
    font-weight: 700;
    margin-top: 1rem;
}

main dl dd {
    color: #9ea88f;
    font-size: .9rem;
    margin-left: 20px;
}

main ul {
    list-style-type: circle;
}

main ul li {
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: 1rem;
}

main strong {
    font-weight: 700;
    color: black;
}

main em {
    font-weight: 300;
}

main address {
    font-style: normal;
    background-color: #9ea88f;
    padding: .5rem;
    border-radius: 10px;
    border: 1px solid #3b3027;
    width: 200px;
}

main a {
    color: #3b3027;
}

main a:hover {
    color: #3b3027;
}

/*main image stuff here*/
figure.wrapped {
    margin: 0 0 0 10px;
    width: 40%;
    float: right;
}

figure.wrapped img {
    width: 100%;
    height: auto;
}

figure.wrapped figcaption {
    text-align: center;
    font-weight: bold;
}

/*gallery stuff here*/
div.gallery {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 20px;
}

div.gallery figure {
    margin: 0;
}
div.gallery figcaption {
font-weight: bold;
}

:root {
    --greycolor: #efefef;
    --greencolor: #9ea88f;
    --browncolor: #3b3027;
    --creamcolor: #f6f1e7;
    --pagefont: "Cormorant Garamond";
}


.myForm fieldset {
    border:1px solid var(--greencolor);
    border-radius: 5px;
    margin-bottom: 1rem;
}

.myForm legend {
    color: var(--browncolor);
    font-size: .75rem;
}

.myForm label {
    margin: .75rem;
}

.myForm label, .myForm select, .myForm [type=text],.myForm [type=tel], .myForm [type=email],.myForm textarea {
    display: block;
}

.myForm select, .myForm [type=text],.myForm [type=tel], .myForm [type=email],.myForm textarea {
    border: solid 1px var(--browncolor);
    padding: .25rem;
    width: 300px;
    font-family: var(--pagefont);
    font-weight: 200;
   }

.myForm textarea {
    height: 5rem;
}

.myForm :required {
    background-color: var(--greycolor);
}

.myForm [type=submit] {
    background-color: var(--browncolor);
    border : none;
    padding: .5rem;
    border-radius: 7px;
    color: var(--creamcolor);
    margin: .25rem 0 0 3vw;
}

.myForm input, .myForm select, .myForm textarea {
    background-color: var(--creamcolor);
    border: 1px solid var(--browncolor);
    padding: 0.5rem;
    border-radius: 5px;
    box-sizing: border-box;
}



/*footer stuff here*/
footer {
    background-color: #eaeaea;
    text-align: center;
    padding: 1rem 0;
    clear: both;
}

footer p {
    margin: 0;
    letter-spacing: 3px;
    font-size: .9rem;
    color: #333;
}